<% @meta_title="Peegin - Edit Your Info" %>
<% @meta_description="Peegin Dictionary" %>

<section class="container all-peegin">
  <%= render 'layouts/side_bar' %>
  <%= render 'layouts/form' %>
</section>
