<% @meta_title="Peegin - Define a new Peegin" %>
<% @meta_description="Peegin English Diction" %>


<section class="container all-peegin">
  <div class="col-md-4 hidden-xs col-sm-4 pull-right">


    <div class="panel panel-default side-panel">
      <div class="panel-body ">
        <h1 class="side-bar" id="side" >PEEGIN ENGLISH</h1><br>
        <h1 class="side-bar" id="side" >DICTIONARY</h1><br>
        <h1 class="side-bar" id="side" >IS DEFINED</h1><br>
        <h1 class="side-bar" id="side" >BY YOU</h1><br>
      </div>
    </div>



  </div>

<%= render 'layouts/form' %>

</section>
