
    <section

    <% if @droid %>
      <%else%>
        class="container all-peegin"
      <%end%>

    >

    <div class="col-xs-12">


      <div class="panel panel-default peegined">
          <div class="panel-body">
            <h1 style=" text-align: center;">ABOUT PEEGIN</h1>
            <br>
            <p style="font-size:19px;">
              Peegin.com is a crowd source Pidgin English Dictionary that focuses on giving you
              access to definitions of words and slangs which you might come across on a day to day basis
            but have absolutely no idea what they mean e.g.
                words/slangs from the street, movies or music. </p>

          <p style="font-size:19px;">
              We are bridging the gap between you and those who use these words / slangs on a daily basis thus also creating
              a means for Nigerians in diaspora
              to keep in touch with the latest slangs in Nigeria. Never before that pidgin english has ever
               been compiled into an easy to use Dictionary and Peegin is
                the answer as the Official Pidgin English Dictionary.</p>

          </div>



        </div>
  </div>
    </section>
