
    <section

    <% if @droid %>
      <%else%>
        class="container all-peegin"
      <%end%>

    >

    <div class="col-xs-12">


      <div class="panel panel-default peegined">
          <div class="panel-body">
            <h1 style=" text-align: center;">API Documentation</h1>
            <br>
            <p style="font-size:19px;">
              The Peegin public API gives you access to a some awesome features of the platform. This lets you
              use cool features that you may likely use in daily scenerios. It is a RESTful API and is
              organized around the main resources you would be interacting with - with a few exceptions.
              You do not need an account to be able to use the public API.</p>

          </div>



        </div>
  </div>
    </section>
