#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #FF0000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: -5px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 65px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

.helper-b.ed-btn{
  width: 100%;
  border: 1px solid #182634;
  background-color: #182634;
}

.helper-b.ed-btn.opera-mini{
  border: 1px solid #FAD93D;
  background-color: #02a882;
  margin-top: 8px;
}

.side-panel.btn-nu{
  background-color: #182634;
}

.navbared{

	min-height: 62px;
	padding-top: 10px;
	background-color: #182634;
	padding-left: 15px;
	padding-right: 15px;

}
.side-info{
  text-align: center;
  margin-top: 70px;
  color: #999 !important;
}

.wod-side{
  margin-top: 70px;
}
.all-peegin{
	margin-top: 130px;
}
.altered{
	margin-top: 109px;
	margin-bottom: -100px;

}

.alert-notice{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.alert-alert{
	background-color: #f0d8d8;
	border-color: #e9c6c6;
	color: #763c3c;
}

.error-val{
	border: 1px solid #f0d8d8 ;
	border-radius: 4px;
	padding-bottom: 10px;
	padding-top: 10px;
}

div.col-sm-2{
	width: 10.2%;
}

.input-group{
	width: 74%;
	float: right;
	margin-top: -4px;
}

.search-mobile{
	width: 90%;
	margin-right: 40px;
}

.navbar-btn{

	margin-top: 3px;
	margin-bottom: 0px
}

.btns{

	margin-left: 10px;
}

.btn1{

	margin-right: 0px;
}

.side-bar,.titled{

	font-weight: 900;
	font-size: 26px;
	line-height:1.45;
	display: inline;
	font-family: 'Lora', serif;
}
#side,.titled{
	background-color: #FAD93D;
}
.ui-mobile{
	float: right;
}

.heading{
	float: left;
	background-color: #FAD93D;
	line-height:1.45;
	display: inline;
	font-weight: 700;
	font-size: 15px;
	line-break: strict;
	padding: 0 5px;
}

.helper-b{
	float: left;
	background-color: #182634;
	padding: 5px 10px !important;
	border: 1px solid #182634;
	border-radius: 4px;
}
.helper-b.btn2{
  font-size: 14px;
  text-align: center;
	padding: 9px;
  width: 100%;
	background: #3b5998;
	border: 1px solid #3b5998;
	color: #ffffff;

}
.fa{
  margin-right: 5px;
}

.ic{
  color: #182634;
}
.nu-ad{
  padding-top: 4px;
}
.ed{
  color: #FAD93D;
}
.ed-btn{
  display: flex;
  justify-content: center;
}

button.close.mob {
	margin-bottom: 5px;
}

body{
	height: auto;
	background-color: #f1f1f1;
}

a {
	text-decoration: none !important;

	color: #02a882;

}

.button-link{

}

.create-peegin{
	background-color: #182634;
	margin-top: 10px;
	font-size: 1em;
	border-color: #182634;
}


.side-panel{
	background-color: #02a882;


}
.described{
	font-size: 18px;
}
.exampled{

	font-style: italic;
}

.origin{
	color: #FAD93D;
	font-style: italic;
	background-color: #182634;
	display: inline;
	padding: 8px;
	border-radius: 4px;
}

.views{
	color: #fff;
	font-style: italic;
	background-color: #02a882;
	display: inline;
	padding: 3px 8px;
	border-radius: 4px;
}

.peegined{
	padding: 0 20px;
}

.socialed{
	display: inline;
	float: right;
	color: #02a882;
}

.haterz{
	display: inline;
	float: left;
	margin-right: 10px;
}


.hate{

	margin-left: -35px;
}

.score{
margin-left: 8px;
color: #02a882 !important;
}

.score-app{
margin-right: 8px;
color: #02a882 !important;
}

.modal-backdrop.in { z-index: auto;}

.modal-header{
	text-align: center;

}


.modal-title{

	color: #182634;
}


.btn-primary,.btn-default:hover {
	border-color: #3a434c;
	background-color: #3a434c;
}


input[type=text],[type=email],[type=password] {
    width: 100%;
    padding: 12px 20px;
		margin: 8px 0;
    box-sizing: border-box;
		border: 2px solid #ccc;
    border-radius: 4px;
		background: #f1f1f1;

}

textarea.eg-h{
		height: 80px;
		margin: 0 0 20px 0;
}

input[type=text].tl-h,input[type=text].og-h{
		  margin: 0 0 20px 0;

}

input[type=text].search-pad{
		padding: 5px 20px;
}

input[type=text].mn-h{
		  margin: 0 0 20px 0;
}

.search-margin{
	margin: 8px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
		margin: 0 0 20px 0;
    resize: none;
		background: #f1f1f1;
}

.devise-share{
	margin-top: 50px;
}

.dropdown-menu{
	right: -80px !important;
	left: auto;
	height: auto;
	min-width: 200px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 15px 0;
	background-color: #d8d8d8;
}

.mobile-drop{
	left: -80px;
	text-align: center;
	}

.pagination > .active > span {
	background-color: #02a882;
	border-color: #02a882;
}
.pagination{
	text-align: center;
}
.pagination > li > a {
	color: #02a882;
}

.pagination > li > a:hover {
color: #182634;
}

.pagination > .active > span, .pagination > .active > span:hover{
	background-color: #182634;
	border-color: #182634;
}

footer.page-footer {
	background: #182634;
	padding:30px 0 10px 0;
	color: #FAD93D;
	width: 100%;
  margin-top:50px;
}
.center-footer{
	text-align: center;
	display: block;
	margin-top: -20px;
}
.copy-right {
	color: #FAD93D;
}


.show {
    margin-bottom: 190px;
}
@media (max-width : 230px){
  .navbar-fixed-top{
    position: absolute;
  }
}
@media (max-width : 567px){
	.helper-b{
		font-size: 12px;
		padding: 4px;
	}

  .show {
      margin-bottom: 0px;
  }
}

@media only screen and (max-width: 768px)
and (max-width : 982px){
  .socialed {
  	margin-top: -25px;
  }
  .side-panel.btn-nu{
    background-color: #02a882;
  }
	.views{
		font-size: 12px;
	}
	.search-mobile{
		width: 89% !important;
	}
  .show {
      margin-bottom: 0px;
  }
	.peegined{
		padding: 0;
	}
	.altered{
		margin-top: 120px;
		margin-bottom: -100px;

	}

  .helper-b.ed-btn{
    font-size: 14px;
    width: 100%;
    border: 1px solid #FAD93D;
    background-color: #182634;
  }
	.helper-b.btn2 {
    float: right;
}
	.navbar-fixed-top.sessions.new, .registrations.edit, .peegins.new, .registrations.new{
		position: absolute;
	}


	.navbared{
		padding-top: 8px;
	}

.side-panel .btn-nu{
      background-color: #182634;
}

}



@media (max-width : 991px){

  .helper-b.ed-btn{
    font-size: 14px;
    width: 100%;
    border: 1px solid #FAD93D !important;
    background-color: #182634;
  }

.side-panel.btn-nu{
  background-color: #02a882;
}
	.all-peegin {
  	margin-top: 80px;
  }
	.container.all-peegin{
		padding-left: 0px;
		padding-right: 0px;
	}

	.panel-body{
		padding: 20px;
	}
	.panel{
		margin-bottom: 5px;
		border-radius: 0px;
		margin-left: -1px;
		margin-right: -1px;
	}

	.panel.panel-default.peegined.peegins.show, .panel.panel-default.peegined.peegins.search,.panel.panel-default.peegined.peegins.new{
		margin-top: 0px;
	}

	.formed {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 100px;
	}
  .socialed {
  	margin-top: -5px;
  }

	.signing{
		color: black;
	}
	.container {
		width: 100%;
	}

	.altered{
		margin-top: 81px;
		margin-bottom: -80px;

	}

	.search-mobile{
		width: 96%;
	}
	.center-footer{
		margin-top: 25px;
	}
	footer.page-footer {
	padding-left: 13px;
	padding-right: 13px;
	}
	.col-xs-12, .col-sm-12,.col-md-8 {
		padding-left: 0px;
		padding-right: 0px;
	}
}
