<footer class="page-footer">
          <div class="container">
            <div class="row">
            <span class="copy-right">
              © 2016 Copyright
            </span>
            <a class="pull-right"href="http://amaniart.net" target="_blank">An AMANi Art Side-Project</a>
            </div>
          </div>
</footer>
