<footer class="page-footer">
          <div class="container">
            <div class="row">
            <span class="copy-right">
              © 2017 Copyright
            </span>
            <a class="pull-right"href="http://amaniart.net" target="_blank">An AMANi Art Side-Project</a>
            </div>
            <div class="row">
                <span class="center-footer">
                  <%=link_to "Terms Of Service", "/pages/terms" %> | <%=link_to  "Privacy Policy","/pages/privacy" %>
                </span>
            </div>
          </div>
</footer>
