<div class="panel panel-default side-panel" id="close-it">

  <div class="panel-body ">
    <p class="heading" >PEEGIN ENGLISH DICTIONARY IS DEFINED BY YOU </p>
  <br>
  <br>

<% if user_signed_in? == true %>
  <%= link_to new_peegin_path  do %>
      <div class="helper-b ed-btn">
          <i class="fa fa-pencil-square-o fa-2x btn1 ed"></i> <div class="nu-ad"style="color: #FAD93D !important;">Add A New Word</div>
      </div>
  <% end %>
<% end %>


<% if user_signed_in? == false %>
  <%= link_to user_facebook_omniauth_authorize_path  do %>
  <div class="helper-b btn2">
    <i class="fa fa-facebook" style="font-size:20px;"></i> <span> Sign In With Facebook</span>
  </div>
<%end%>
<%end%>
  </div>
</div>
