<div class="panel panel-default side-panel" id="close-it">

  <div class="panel-body ">
    <p class="heading" >PEEGIN ENGLISH DICTIONARY IS DEFINED BY YOU </p>
  <br>
  <br>
  <%= link_to new_peegin_path  do %>
      <div class="helper-b">
          <%= image_tag "add.png", class: "btn1", height: "28px", width: "28px" %>
          <span style="color: #FAD93D !important;">Add A New Word</span>
      </div>
  <% end %>
<% if user_signed_in? == false %>
  <%= link_to "Create An Account", new_user_registration_path, class: "helper-b btn2" %>
<%end%>
  </div>
</div>
