<div class="panel panel-default side-panel" id="close-it">

  <div class="panel-body ">
    <button type="button" class="close mob"
    data-target="#close-it"
    data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <p class="heading" >PEEGIN ENGLISH DICTIONARY IS DEFINED BY YOU </p>
<br>
<br>
    <div class="helper-b">
      <%= link_to new_peegin_path  do %>
        <%= image_tag "add.png", class: "btn1", height: "28px", width: "28px" %>

          <span style="color: #FAD93D !important;">Define a new Peegin</span>

        <% end %>
    </div>

  </div>
</div>
