<div class="panel panel-default side-panel" id="close-it">

  <div class="panel-body ">
    <p class="heading" style="text-align: center" > The Official Pidgin English Dictionary </p>
<% if user_signed_in? == true %>
  <%= link_to new_peegin_path  do %>
      <div class="helper-b ed-btn">
          <i class="fa fa-pencil-square-o fa-2x btn1 ed"></i> <div class="nu-ad"style="color: #FAD93D !important;">Add A New Word</div>
      </div>
  <% end %>
<% end %>


<% if user_signed_in? == false %>
  <%= link_to new_user_session_path  do %>
  <div class="helper-b ed-btn">
    <i style="font-size:20px;"></i> <span> Sign In</span>
  </div>
<%end%>
<%end%>
  </div>
</div>
