
<% if @droid %>
  <%else%>
    <div id="container-floating">
      <%= link_to random_peegins_path do %>
        <div id="floating-button" >
            <p class="plus"><i class="fa fa-random fa-2x"></i></p>
        </div>
      <%end%>
    </div>
  <%end%>
