<div class="col-md-4 hidden-xs col-sm-4 pull-right">


  <div class="panel panel-default side-panel">
    <div class="panel-body ">
      <h1 class="side-bar" id="side" >PEEGIN ENGLISH</h1><br>
      <h1 class="side-bar" id="side" >DICTIONARY</h1><br>
      <h1 class="side-bar" id="side" >IS DEFINED</h1><br>
      <h1 class="side-bar" id="side" >BY YOU</h1><br>
      <div>
        <button type="button" class="btn btn-default create-peegin">
        <%= link_to new_peegin_path  do %>
          <%= image_tag "add.png", class: "btn1", height: "30px", width: "30px" %>

            <span style="color: #FAD93D !important;">Define a new Peegin</span>

          <% end %>
        </button>
      </div>

    </div>
  </div>



</div>
