<div class="col-md-3 hidden-xs hidden-sm">

  <div>
    <% if action_name == "edit"%>
    <%else%>
      <%= render 'layouts/wod' %>
      <%= render 'layouts/glossary' %>
    <%end%>
  </div>



  <div style="text-align:center">
    <h1 style="color:#9B9B9B !important;">Available On</h1>
    <div class="appstores">

        <a href="https://itunes.apple.com/us/app/peegin/id1394079205" target="_blank">
          <img src="https://s3-eu-west-2.amazonaws.com/learntocode.com.ng/wp-content/uploads/2018/06/10163119/appstore.png" alt="Peegin Dictionary Playstore"><br><br>
        </a>
        <a href="https://play.google.com/store/apps/details?id=net.amaniart.peegin" target="_blank">
          <img src="https://s3-eu-west-2.amazonaws.com/learntocode.com.ng/wp-content/uploads/2018/06/10163122/playstore.png" alt="Peegin Dictionary Playstore"><br><br>
        </a>
    </div>
  </div>


</div>
