<%@wod.each do |peegin|%>
<div>

<% if current_user %>
  <div class="panel" style="background:#DFE8EA;">
<%else%>
  <div class="panel" style="background:#DFE8EA;">
    <%end%>
      <div class="panel-body">
        <h1 style="font-family:Roboto; font-weight:200; font-size:30px;">Word Of The Day</h1>
        <hr>
        <%= link_to peegin do %>
        <h1 class="titled" style="color:#182634">
          <%=peegin.title %>
        </h1>
        <%end%>
        <br>
        <br>
        <strong>Meaning</strong>
        <p class="described">
        <%= simple_format(peegin.meaning) %>
        </p>
        <br>
        <strong>Example</strong>
        <p class="exampled">
          <i>
        <%=simple_format(peegin.example)%>
          </i>
        </p>
        <br>
      </div>


    </div>
</div>

<%end%>
